@import url('https://fonts.googleapis.com/css?family=Roboto|Vollkorn');

.clearfix:after {
  visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* { margin:0; padding:0; box-sizing:border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

p, ul {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

body {
  font-size: 18px;
  width: 90%;
  margin: auto;
  background-color: #e3e4e5;
}

header {
    color: #85bb65;
    background-color: #e3e4e5;
    padding: 1em;
}

nav {
  border-radius: .5em;
    background-color: #6d6d6c;
    width: 100%;
    text-align: right;
  }

nav a {
  display: inline-block;
  background-color: none;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
  font-size: .9em;
}

nav a:hover {
  font-weight: bold;
  color: #85bb65;
}

nav a:active {
  text-decoration: underline;
}

footer {
  background-color: #e3e4e5;
  padding: 1em;
  text-align:center;
}

div, section {
  background-color: #85bb65;
  padding: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
}

header p {
  font-size: 3em;
  float: left;
  text-align: left;
}

#login {
  float: right;
  width: 25%;
  background-color: inherit;
  border: none;
  text-align: right;
}

#login a {
  border-radius: 1.4em;
  border: 1px solid white;
  padding: 1em;
  background-color: #85bb65;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
}

#login a:hover {
  border: none;
  font-weight: bolder;
  color: #6d6d6c;
}

#login a:active {
  text-decoration: underline;
}

#intro {
  background-image: url(../images/shark-2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #e3e4e5;
  min-height: 30em;
  color: white;
  text-align: center;
}

#intro p{
  font-size: 2em;
  padding-bottom: 2em;
}

#slogan {
  font-size: 3.5em;
  padding-top: 1em;
  padding-bottom: .3em;
}

#intro a {
  padding: .75em;
  background-color: #85bb65;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 1.4em;
  border: 1px solid white;
  color: white;
}

#intro a:hover {
  border: none;
  font-weight: bolder;
  color: #e3e4e5;
}

#intro a:active {
  text-decoration: underline;
}

#packages {
  text-align: center;
  padding-bottom: 2em;
}

#packages h2 {
  text-align: center;
  padding-bottom: 1em;
}

#packages h3 {
  text-align: left;
  padding-bottom: 1em;
}

#packages ul {
  padding-left: 2em;
  text-align: left;
  padding-bottom: 1em;
}

#packages a {
  padding: 1em;
  background-color: #6d6d6c;
  font-size: 1em;
  text-decoration: none;
  border-radius: 1.4em;
  border: 1px solid white;
  color: white;
}

#packages a:hover {
  border: none;
  font-weight: bolder;
  color: #85bb65;
}

#packages a:active {
  text-decoration: underline;
}

#details {
  background-color: #e3e4e5;
  padding: 1em;
  text-align: center;
}

#details div {
  background-color: inherit;
  margin: auto;
  float: left;
  width: 33.33%;
  min-height: 13em;
  padding-top: 3em;
  padding-bottom: 2em;
  position: relative;
  height: 20em;
}

#details img {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#details a {
  background-color: #85bb65;
  padding: .5em 1.5em;
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 1.4em;
  border: 1px solid white;
  display: inline-block;
  margin-top: 1em;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}

#details a:hover {
  font-weight: bold;
  color: #6d6d6c;
}

#details a:active {
  text-decoration: underline;
}


#articles {
  text-align: center;
  min-height: 13em;
  background-color: #6d6d6c;
}

#articles h2 {
  padding-bottom: 2em;
}

#articles p {
  float: left;
  width: 25%;
}

#articles img{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#trial {
  background-color: #e3e4e5;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.25em;
}

#trial h2 {
  padding-bottom: 1em;
}

#trial a {
  background-color: #85bb65;
  padding: .5em 2em;
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 1.4em;
  border: 1px solid white;
}

#trial a:hover {
  font-weight: bold;
  color: #6d6d6c;
}

#trial a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 1080px) {
    body {
      font-size: 16px;
    }
    #articles p {
      width: 50%;
      padding-bottom: 1em;
    }
    #articles img {
      width: 50%;
    }
}

@media only screen and (max-width: 1020px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  #sign-up {
  display: none;
  }
  #articles p {
    float: none;
    width: 100%;
  }
  #articles h2 {
    padding-bottom: 1em;
  }
  #articles img {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #details div {
    float: none;
    width: 50%;
  }
  #details a{
    bottom: 2.5em;
  }

  @media only screen and (max-width: 600px) {
    body {
      width: 100%;
    }
    header p {
      font-size: 2.5em;
    }
    nav {
      text-align: center;
    }
    nav a {
      margin: 0 1em;
      display: block;
      font-size: 1em;
    }
    nav a:active {
      background-color: #85bb65;
      color: white;
    }
    #details div {
      width: 100%;
    }
    #details img {
      width: 20%;
    }
    #details a{
      bottom: 3em;
    }
  }

    @media only screen and (max-width: 445px) {
      header p {
        float: none;
        text-align: center;
        font-size: 3em;
      }
      #login div {
        width: 100%
      }
      #login {
        float: none;
        text-align: center;
        width: 100%;
      }
      #login a {
        display: block;
        margin: 0 1em;
      }
      #login a:active {
        background-color: #6d6d6c;
        color: white;
      }
      #intro {
        min-height: 35em;
      }
      #details a{
        bottom: 4em;
        font-size: 1.25em;
      }
}
